.Accordion {
  max-width: 800px;
  margin: 0 auto;
  border-top: none;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .Accordion__arrow {
    transition: transform 0.3s ease;
  }

  .is-open .Accordion__arrow {
    transform: rotate(180deg);
  }

  .Accordion__item {
    border-bottom: 1px solid #ccc;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    &__heading {
      position: relative;

      &:hover {
        background-color: #f0f0f0;
      }
    }

    &__panel {
      padding: 15px;
    }
  }

  .Accordion__item__button {
    color: #24355a;
    width: 100%;
    text-align: left;
    position: relative;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
  }
}
